yfinance
pandas
datasets<3.0.0
python-dotenv
earningscall
transformers
torch
scikit-learn
accelerate
matplotlib
seaborn
numpy
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
email-validator
